/* Page 9 Styles*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');

.container{
   margin-top: 5em;
   padding: 1em;
   width: 70%;
}
#titlecard{
   text-align: center;
   padding: 2rem;
   font-family: 'Open Sans', sans-serif;
   font-weight: 800;
   text-shadow: 0px 1px 0px rgba(0,0,0,.5);
}
#convertblue{
  color: #3fbcf9;
}
.handwashimg{
   padding: 2em;
   height: 300px;
   width: 300px;
   margin-left: 0;
}

.hwashtext > ul{
   text-align: center;
   list-style-position: inside;
   position: relative;
   margin-left: 5em;
}
.hwashtext li{
   color: #373E3D;
   font-weight: 200;
   padding: 3px;
}
.pagers{
   display: inline-block;
   position: relative;
}
#previousbutton{
   margin:auto;
   padding: 2em;
   text-align: center;

}

#nextbutton{
   margin:auto;
   padding: 2em;
}

/* PAGE 2 STYLES*/
.mycontainer{
   width: 90%;
   height: 100%;
   margin-top: 1em;
   padding: 2em;
   margin-left: 4%;
 }
 .leftcolumn, .rightcolumn{
   height: 650px;
   width: 50%;
   margin-bottom: 0;
 }

 /*.leftcolumn{
   border: 1px solid blue;
 }
 .rightcolumn{
   border: 1px solid green;
 }*/
 #pic1, #pic2{
   width: 70%;
   height: 100%;
   padding: 1rem;
 }
 .col1, .col2{
   padding: 2rem;
   align-items: center;
   text-align: center;
   margin-top: 25%;
 }
 .col3, .col4{
   width: 300px;
   height: 300px;
   align-items: center;
   text-align: center;
   margin-top: 10%;
   padding: 1rem;
   margin-left: 3.5%;
   box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 3px 0 rgba(0, 0, 0, 0.19);

 }
 #div1, #div2{
   padding: 1rem;
 }
 #div1{
   border: 1px black;
   border-style: dashed;
   border-radius: 3em;

 }
 #div2{
   border: 1px black;
   border-style: dashed;
   border-radius: 3em;
 }
 #finaltext{
   border: 1px dashed blue;
   border-radius: 1em;
   padding: 1em;
   margin-left: 20%;
   margin-top: 2rem;
   display: inline-block;
 }
 #lefttext{
   padding: 1em;
   width: 70% ;
   margin-left: 10%;
   margin-top: 2rem;
 }
 
 /* For page three */

 .mymask{
   padding: 1em;
   margin-top: 10px;
 }

 #drag1{
   width: 90%;
   height: 90%;
   padding: 1em;
 }
.bottomtext{
  padding: 1em;
  width: 70% ;
  text-align: center;
}

#change1{
  margin-right: 10px;
}
#change2{
  margin-left: 10px;
}



@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-moz-keyframes fadein { /* Firefox */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-o-keyframes fadein { /* Opera */
  from {
      opacity:0;
  }
  to {
      opacity: 1;
  }
}