/* Page 9 Styles*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');

.container{
   margin-top: 5em;
   padding: 1em;
   width: 70%;
}
#titlecard{
   text-align: center;
   padding: 2rem;
   font-family: 'Open Sans', sans-serif;
   font-weight: 800;
   text-shadow: 0px 1px 0px rgba(0,0,0,.5);
}
.handwashimg{
   padding: 2em;
   height: 300px;
   width: 300px;
   margin-left: 0;
}

.hwashtext > ul{
   text-align: center;
   list-style-position: inside;
   position: relative;
   margin-left: 5em;
}
.hwashtext li{
   color: #373E3D;
   font-weight: 200;
   padding: 3px;
}
.pagers{
   display: inline-block;
   position: relative;
}
#previousbutton{
   margin:auto;
   padding: 2em;
   text-align: center;

}

#nextbutton{
   margin:auto;
   padding: 2em;
}

/* PAGE 2 STYLES*/

#convertblue{
   color: #3fbcf9;
}
.custom-container{
   width: 100%;
}
#lefttextbox{
   padding: 1em;
   width: 100%;
   height: 500px;
   border: 1px solid black;
}
.img{
   padding: 1em;
   width: 100px;
   height: 100px;
}
#gownone{
   margin-right: 40px;
}
#draganddropbox{
   padding: 1em;
   width: 100%;
   height: 500px;
   border: 1px solid black;
}

#div1, #div2 {
   padding: 1rem;
}