@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');


body{
   font-family: 'Roboto', sans-serif;

}

#titlecard{
   text-align: center;
   padding: 2rem;
   font-family: 'Open Sans', sans-serif;
   font-weight: 800;
   text-shadow: 0px 1px 0px rgba(0,0,0,.5);
}
#convertblue{
   color: #3fbcf9;
 }
 .container{
    width: 50%;
    height: 700px;
    margin-left: 25%;
    text-align: center;
 }
 .questions{
    padding: 2em;
    align-items: center;
    text-align: center;
    margin-bottom: 1px;
 }
 .truebutton, .falsebutton{
    align-items: center;
    margin-right: 100px;
 }

.btn:hover{
   background-color: #3fbcf9;
   color: black;
}
.btn{
   border-radius: 1em;
   padding: 10px;
   width: 90px;
}
/* .pager{
   margin-top: 20px;
} */
#lastbutton{
   width: 50%;
   padding: 10px;
   margin-top: 3%;
}


@keyframes fadein {
   from {
       opacity:0;
   }
   to {
       opacity:1;
   }
}
@-moz-keyframes fadein { /* Firefox */
   from {
       opacity:0;
   }
   to {
       opacity:1;
   }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
   from {
       opacity:0;
   }
   to {
       opacity:1;
   }
}
@-o-keyframes fadein { /* Opera */
   from {
       opacity:0;
   }
   to {
       opacity: 1;
   }
}